html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	background: url('boston-min.jpg');
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	color: #656565;
	font-family: 'Roboto', sans-serif;
}

body {
	display: flex;
	justify-content: center;
}

form {
	margin-top: 50px;
	width: 50%;
}

input {
	width: 100%;
	font-size: 1.5em;
	padding: .75em;
}

::placeholder {
	color: #aaaaaa;
}

ul {
	padding: 0;
	margin-top: 0;
}

li {
	background: white;
	list-style-type: none;
	padding: 1em;
	transition: all .5s;
}

li:hover {
	background: #efefef;
}

.hl {
	background: #FEEC2A;
}