html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	background: url('boston-min.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

body {
	display: flex;
	justify-content: center;
}

form {
	margin-top: 50px;
	width: 50%;
}

input {
	width: 100%;
	font-size: 1.5em;
	padding: .75em;
	color: #656565;
}

::placeholder {
	color: #aaaaaa;
}